@mixin hover-active($hover, $active) {

    &:hover,
    &:focus {
        background-color: $hover;
    }

    &:active {
        background-color: $active;
    }
}

@mixin transition($property: all, $duration: 500ms, $tf: ease-in-out) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $tf;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
}

a,
button,
label,
select,
details {
    cursor: pointer;
    user-select: none;
}

// textarea {
//   resize: none;
// }